@model IEnumerable<AppASP.Models.Revision>
<div class="card-body" id="dvRevisions">
    <input id="Current_Revision_ID" type="hidden" value="0" />
    <table class="table table-bordered table-condensed">
        <thead class="table-light">
            <tr><th>ID</th><th>Название</th></tr>
        </thead>
        <tbody id='revision_body'>
            @foreach (var item in Model)
            {
                <tr data-id=@item.RevisionId>
                        <td><p>@item.RevisionId</p></td>
                        <td><p>@item.Name</p></td>
                </tr>
            }
        </tbody>
    </table>
</div>
