@model IEnumerable<AppASP.Models.DeviceExt>
<div class="card-body" id="dvDevices">
    <input id="Current_Device_ID" type="hidden" value="0" />
    <table class="table table-bordered table-condensed">
        <thead class="table-light">
            <tr><th>Серийный номер</th><th>Ревизия</th></tr>
        </thead>
        <tbody id='device_body'>
            @foreach (var item in Model)
            {
                    <tr data-id=@item.DeviceId data-revid=@item.Revision_ID>
                    <td><p>@item.SerialNumber</p></td>
                    <td><p>@item.Revision_Name</p></td>
                </tr>
            }
        </tbody>
    </table>

</div>
