@model System.Boolean

<div id="RevisionError">
    @if (Model)
    {
            <input id="IsRevisionError" type="hidden" value="1" />
    }
    else
    {
            <input id="IsRevisionError" type="hidden" value="0" />
    }
</div>
