@model Dictionary<string, AppASP.Models.MenuObject>
@{
    ViewData["Title"] = "Приложение MegaCoreApplication";
}

@section Header {
    @await Html.PartialAsync("MainMenu", Model)
}

<div class="text-center">
    <h1 class="display-6">Добро пожаловать</h1>
    <img src="/images/abrams-16.jpg" width=80%  />
   </div>
