@using AppASP.ViewModels
@model ModelView 
@{
    ViewData["Title"] = "Модели";
}

<link href="~/css/main.css" rel="stylesheet" type="text/css" rel="stylesheet" />

@section Header {
    @await Html.PartialAsync("MainMenu", Model.menuValuePairs)
}

<div class="card">
        <div class="card-header">
           <div class="d-flex">
              <div class="p-2 flex-grow-1">
                 <div class="p-2"><h5>Модели</h5></div>
              </div>
                  <div class="p-2" id="divPaginationModels">
                    @await Html.PartialAsync("Pagination", Model.PageViewExtension.pageViewModel)  
              </div>
              @if (Convert.ToBoolean(ViewData["MODEL_UPDATE"]?.ToString()))
              {
              <div class="p-2">
                <button id="btnModelAdd" type="button" class="btn btn-primary" data-bs-whatever="Добавить">Добавить</button>
                <button id="btnModelUpdate" type="button" class="btn btn-primary" data-bs-whatever="Изменить">Изменить</button>
                <button id="btnModelDelete" type="button" class="btn btn-success">Удалить</button>
              </div>
              }
            </div>

            <div id="ModelError">
                <input id="IsModelError" type="hidden" value="0" />
            </div>
        </div> 
        @await Html.PartialAsync("BuildModels", Model.models) 
</div>

@await Html.PartialAsync("ModelModal")

<div class="card">
           <div class="card-header">
                <div class="d-flex">
                  <div class="p-2 flex-grow-1">
                          <h5>Ревизии</h5>
                  </div>
                  <div class="p-2" id="divPaginationRevisions"></div>
                  <div class="p-2">
                     <button id="btnRevisionAdd" type="button" class="btn btn-primary" data-bs-whatever="Добавить">Добавить</button>
                     <button id="btnRevisionUpdate" type="button" class="btn btn-primary" data-bs-whatever="Изменить">Изменить</button>
                     <button id="btnRevisionDelete" type="button" class="btn btn-success">Удалить</button>
                  </div>
                </div>
                <div id="RevisionError">
                   <input id="IsRevisionError" type="hidden" value="0" />
                 </div>
           </div> 
           <div id="dvRevisions"></div>
</div>

@await Html.PartialAsync("RevisionModal")

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/model.js"></script>
