<!-- Модальное окно -->
<div class="modal fade" id="RevisionModal" tabindex="-1" aria-labelledby="RevisionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RevisionModalLabel">Заголовок модального окна</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        <input id="Revision_ID" type="hidden" />
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
                <div>
                    <label class="control-label col-md-1" for="edRevisionName">Название</label>
                    <div class="col-md-12">
                        <input id="edRevisionName" type="text" class="form-control" />
                    </div>
                </div>
                <div id="divSaveRevisionMessage"></div>
            </div>
      </div>
      <div class="modal-footer"> 
        <button id="btnRevisionSave" type="button" class="btn btn-primary">Сохранить изменения</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>