<!-- Модальное окно ожидания -->
<div class="modal fade" id="WaitingForm" tabindex="-1" aria-labelledby="WaitingFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body align-self-center">
                <label class="control-label col-md-12">Ожидайте...</label>
            </div>
        </div>
    </div>
</div>
